.mobile-nav {
  background-color: #101010;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  h2 {
    color: #fff;
    margin-left: 1rem;
  }

  span {
    font-size: 2.5rem;
    color: #fff;
    margin-right: 1rem;
  }
}

.mobile-menu {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #121212;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.9s all ease;
  transform: translateY(-100rem);
  z-index: 3;
  position: fixed;

  .menu-item {
    margin: 1rem 0;

    .active {
      color: #fff;
      font-weight: bolder;
    }

    a {
      text-decoration: none;
      color: #4c4c4c;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s color ease-out;
      font-weight: bold;

      &:hover {
        color: #fff;
      }
    }
  }
}

.selected {
  transform: translateY(0);
  transition: 0.6s all ease;
}
