@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(70, 70, 70, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.overlay {
  display: none;
}

.mobile-container {
  margin-top: 7rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1420px) {
  .mobile-container {
    margin: 0;
  }
}
.page-title {
  color: #fff;
}

.secondary-title {
  color: #999;
}

.label {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  margin: 1rem 0;
}

.input {
  width: 97%;
  height: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #25262b;
  border: 1px solid #373a40;
  color: #fff;
  padding: 0.5rem;
}

#textarea:focus,
.input:focus {
  outline: none;
  border: 1px solid #2073be;
}

.input::placeholder {
  padding: 0.5rem;
}

#textarea {
  width: 97%;
  height: 10rem;
  border-radius: 3px;
  background-color: #25262b;
  border: 1px solid #373a40;
  color: #fff;
  padding: 0.5rem;
  resize: none;
}

.submit {
  padding: 0.7rem 3rem;
  background-color: #2073be;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: 0.3s background ease;
  margin-top: 0.5rem;
}

.submit:hover {
  background-color: #1a609e;
  cursor: pointer;
}

/* DESKTOP RESPOSIVE */
@media screen and (min-width: 1420px) {
  .mobile-nav {
    display: none;
  }
  .container {
    margin-left: 17rem;
  }
  .sidebar {
    display: block;
  }
  .page-title {
    color: #fff;
    margin-left: 0.5rem;
  }
}
